
.TimelapseContainer {
    overflow: hidden;
}

.TimelapseContainer .panel {
  margin-bottom: 60px;
}

.TimelapseContainer .timelapse-footer-options {
  font-size: 20px;
  margin-bottom: -10px;
  padding: 20px;
}

.TimelapseContainer .timelapse-footer-options svg {
  font-size: 2em;
  vertical-align: middle;
}

.TimelapseContainer .timelapse-footer-options .option {
  margin-bottom: 10px;
  cursor: pointer;
}
