
.AirplaneEditor .warning-message {
  color: #e5867b;
}

.AirplaneEditor textarea.line-nums  {
  font-family: var(--ui-scope-font);
  line-height: 1.55;
  overflow: auto;
  padding: 18px;
  resize: vertical;
  white-space: pre;
}

.AirplaneEditor .spinner {
  animation:spin 4s linear infinite;
}

.AirplaneEditor form.edit-save-box p {
  margin-bottom: 0;
}

.AirplaneEditor form.edit-save-box .form-group {
  padding-left: 15px;
}

.AirplaneEditor form.edit-save-box > .form-group,
.AirplaneEditor form.edit-save-box > .form-group > fieldset > .form-group {
  padding-left: 0;
}

.AirplaneEditor #root__title {
  display: none;
}

.AirplaneEditor form.edit-save-box button[type=submit] {
  display: none;
}

.AirplaneEditor i.glyphicon { display: none; }
.AirplaneEditor .btn-add::after { content: 'Add'; }
.AirplaneEditor .array-item-move-up::after { content: 'Move Up'; }
.AirplaneEditor .array-item-move-down::after { content: 'Move Down'; }
.AirplaneEditor .array-item-remove::after { content: 'Remove'; }

.AirplaneEditor form.edit-save-box label,
.AirplaneEditor form.edit-save-box legend {
  font-size: 1rem;
  font-weight: normal;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
